form{
  text-align: center;
  width: 70%;
  margin: 2rem auto 0 auto ;
}
h1{
  padding-left: 1rem;
  font-size: 1.5rem;
}
.form{
  width: 50%;
}
.butoes{
  width: 100%;
  text-align: center;

}
button{
  margin-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
