<form>
  <h1>Atualiza Extensao</h1>
<p>
  <mat-form-field class="form">
    <mat-label>Numero</mat-label>
    <input matInput  matInput type="text" name="nome"  required minlength="4" >
    <div >
      Number is required.
    </div>
    <div >
      Number must be at least 4 characters long.
    </div>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="form">
    <mat-label>Hotel</mat-label>
    <input matInput  type="text" name="numero"  required minlength="4" >

    <div >
      Departamento is required.
    </div>
    <div >
      Departamento must be at least 4 characters long.
    </div>
  </mat-form-field>
</p>
  <div class="butoes">
    <button  class="save" class="mat-elevation-z4" mat-stroked-button color="blue">Update</button>
    <button  class="mat-elevation-z4" mat-stroked-button color="warn">Cancel</button>
  </div>
</form>


