.menuDiv{color: #F5F5F5; background-color: #7CA7AA; height: 50px;}
.space{ padding-top: 5px; background-color: #00FF7F;}
.spaces{ padding-top: 5px; background-color: #FAFAFA;}
.footer{ padding-top: 15px; background-color: #FFFFFF;}
.header{ padding-top: 15px; background-color: #FFFFFF;}
.bRed{border: 1px solid red;}

.divA{font-size: 17px; min-height: 40px; background-color:#F5F5F5}
.divB{font-size: 17px; min-height: 60px; background-color:#F5F5F5}
.divC{font-size: 17px; min-height: 60px; background-color:#F5F5F5}

.divD{font-size: 20px; min-height: 50px; background-color:#F5F5F5}
.divE{font-size: 17px; min-height: 40px; background-color:#F5F5F5}
.divF{font-size: 20px; min-height: 40px; background-color:#F5F5F5}
.divW{font-size: 20px; min-height: 100px; background-color: #F5F5F5}

.bigDiv{font-size: 40px; min-height: 480px; background-color:#F5F5F5 }

.bottomDiv{color: #F5F5F5; background-color: #7CA7AA; height: 30px; font-size: 10px;}

.example-card {
  max-width: 100%;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
