<!--
<div class="footer"></div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="menuDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
      <mat-icon class="mat-18">supervised_user_circle</mat-icon>
      <span>Lista de Colaboradores</span>
    </div>
    <div fxFlex></div>
    <div fxShow fxHide.xs>Item 1 | Item 2&nbsp;</div>
    <div fxHide fxShow.xs>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
  <div class="footer" fxFlex="100%"></div>
   2nd Div
  <div class="2ndDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout=" wrap" fxLayoutAlign="center center">
    <div class="divA" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
      <mat-form-field class="form" fxFlex="80%" fxFlex.sm="100" fxFlex.xs="100%">
        <mat-label> Hotel </mat-label>
        <mat-select matNativeControl #selectHotel>
          <mat-option> -- select Hotel -- </mat-option>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="divB" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">
      <mat-form-field class="form" fxFlex="80%" fxFlex.sm="100" fxFlex.xs="100%">
        <mat-label> Departamento </mat-label>
        <mat-select matNativeControl>
          <mat-option> -- select Departamento -- </mat-option>
          <div>
            <mat-option></mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="divC" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="star center">
      <mat-form-field class="form" fxFlex="50%" fxFlex.sm="100" fxFlex.xs="100%">
        <mat-label> Colaborador </mat-label>
        <mat-select matNativeControl>
          <mat-option> -- select Colaborador -- </mat-option>
          <div>
            <div>
              <mat-option> </mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="footer" fxFlex="70%"></div>
   3nd Div
  <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout=" wrap" *ngFor="let hotel of dataSourceHotel">
    <div fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">
      <div class="divD" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center">
        <i class="material-icons">account_balance</i>
        Hotel: {{ hotel.nome }}
      </div>
    </div>

    <div class="divB" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center " fxLayout=" wrap">
      <i class="material-icons">contact_phone</i>
      Fax: {{ hotel.numeroFixo }}

      <i class="material-icons">phone</i>
      Telefone: {{ hotel.numeroFixo }}

      <div class="divW" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center " fxLayout=" wrap"
        *ngFor="let dep of hotel.departamentosModel">
        <i class="material-icons">table_chart</i>
        Departamento:
        <div fxLayoutAlign="star center ">{{ dep.nome }}</div>

        <div class="divD" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
          <i class="material-icons">call</i>
          Extensão:
          <div></div>
        </div>

        <div class="divF" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star star ">
          <div fxLayout="column">
            <p>
              <i class="material-icons">supervised_user_circle</i>

              Colaborador:
            </p>
            <div class="divF" fxFlex="100%" fxFlex.sm="70%" fxFlex.xs="10%" fxLayoutAlign="star end">
              <i class="material-icons">account_box</i>
              {{ hotel.colaborador }}

              <i class="material-icons">phone</i>


              <i class="material-icons">alternate_email</i>


              <i class="material-icons">pin_drop</i>
            </div>
          </div>
        </div>
      </div>
      <div class="footer" fxFlex="100%"></div>
      <div class="space" fxFlex="100%"></div>
      <div class="footer" fxFlex="100%"></div>
    </div>
  </div>
  4nd Div
  <div class="footer" fxFlex="100%"></div>
  <div class="bottomDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center ">
    All copyright reserved Oasis Dev
  </div>
  <div class="footer" fxFlex="100%"></div>
   end
</div>


  -->


<mat-tab-group dynamicHeight mat-align-tabs="center" style="padding-top: 40px; padding-left: 15%; padding-right: 15%">
  <mat-tab *ngFor="let hotel of dataSourceHotel" label="{{ hotel.nome }}">
    <div fxLayout="column" fxLayoutAlign="space-around center" style="padding: 2%">
      <div style="margin: 0.5%">
        <mat-card class="example-card" *ngFor="let dep of hotel.departamentosModel">
          <mat-card-header> </mat-card-header>
          <mat-card-content>
            <div>
              <i class="material-icons">table_chart</i>
              Departamento:
              <div>{{dep.nome}}</div>

              <div>
                <i class="material-icons">call</i>
                Extensão:
                <div>2345</div>
              </div>

              <div>
                <div>
                  <p>
                    <i class="material-icons">supervised_user_circle</i>
                    Colaboradores
                  </p>
                  <div>
                    <i class="material-icons">account_box</i>
                    Samuel Lopes

                    <i class="material-icons">phone</i>

                    9832656

                    <i class="material-icons">alternate_email</i>

                    samuel.evora@oasisatlantico.com
                    ls
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
