.content{
  width: 90%;
  margin: 1.4rem auto;
}
.title{
  text-align: left;
  margin-bottom: 3rem;

}
.title h1{
  font-size: 1.8rem;
  font-weight: 500;
}

button{
  color: rgb(21, 21, 214);
  margin-bottom: 1rem;

}

mat-form-field{
  margin-right: 2rem;
  }

.table{
  width: 100%;
}
.departamentos{
  color: rgb(71, 68, 68);
  margin-left: 1rem;
}
.edit{
  color:orange;
}
.delete{
  color: rgb(238, 37, 37);
  margin-left: 0.6rem;
}
.mat-header{
    width: 5rem;
}
h1{
  padding-left: 1rem;
  font-size: 1.5rem;
}
.hotelfk{
  size: 5rem;
}
span{
  display: flex;
  align-items: center;
}
.search{
  display: flex;
  align-items:flex-end;

}

.spinner{
  position: relative;
  margin-top: auto;
  margin-top: auto;
  margin-left: 45%;
  padding-top: 2%;
  padding-bottom: 10%;
}






