<div class="content">

  <form [formGroup]="formPesquisa"  class="form-container">
  <p>
    <mat-toolbar class="hotel-header">
      <mat-form-field class="form">
        <mat-label> Departamento </mat-label>
        <mat-select matNativeControl formControlName="hotel">
          <mat-option> -- select Departamento -- </mat-option>
          <mat-option

            *ngFor="let dataSources of dataSource$"
            ></mat-option
          >
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
  </p>
  </form>
      <div class="mat-elevation-z8 content-table">

              <table class="table" mat-table [dataSource]="dataSource$" matSort (matSortChange)="sortEvent = $event; carregarDepartamento()">
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>NOME DO DEPARTAMENTO</th>
                  <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
                </ng-container>

                <ng-container matColumnDef="hotelFk">
                  <th mat-header-cell *matHeaderCellDef>HOTEL</th>
                  <td mat-cell *matCellDef="let row">{{ row.hotelFk }}</td>
                </ng-container>

                <ng-container matColumnDef="acao">

                  <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES:</th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" aria-label="ver" (click)="alterarDepartamento()">
                      <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn"aria-label="apagar"  (click)="apagarDepartamento()">
                    <mat-icon>delete</mat-icon>
                  </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>

              <div *ngIf="carregando" class="spinner">
                <mat-spinner></mat-spinner>
              </div>
              <div *ngIf="!carregando && totalElements === 0" class="spinner">
                <p>Sem Dados...</p>
              </div>

              <mat-paginator
                [length]="totalElements"
                [pageSize]="sizeInicial"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event; carregarDepartamento()"
                aria-label="Select page"
              >
              </mat-paginator>



    </div>

</div>
